<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('FUTURO')" data-ng-class="{active: currency.symbol == 'FUTURO'}">FUTURO</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mFUTURO')" data-ng-class="{active: currency.symbol == 'mFUTURO'}">mFUTURO</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uFUTURO')" data-ng-class="{active: currency.symbol == 'uFUTURO'}">uFUTURO</a>
  </li>
</ul>

